@{
    ViewBag.Title = "Add Destination";
    Layout = null;
}

<h2 class="headingPage">
    Create a new Destination
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>DESTINATION CODE</label>
                        <input id="txtDestinationCode" name="DestinationCode" type="text" placeholder="Destination Code (numeric)" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>DESTINATION NAME</label>
                        <input id="txtDestination" name="Destination" type="text" placeholder="Destination (3-30 Chars)" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>DISTANCE (KM)</label>
                        <input id="txtDistance" name="Distance" type="text" placeholder="Distance in km" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="SaveDestination();"><span class="glyphicon glyphicon-floppy-disk"></span>SAVE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>          
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/Destination/Destination.js"></script>
