@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblCard>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@*<style type="text/css">
    .jqx-widget {
        font-size: 22px;
    }
    .jqx-grid-column-header,
    .jqx-grid-cell {
        font-size: 22px;
    }
</style>*@
<div id="jqxgrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/Masters/TTBypass/Index.js"></script>
