@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblUser>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxgrid" class="jqx-tbl-container">
</div>	

<script src="~/Scripts/PageJS/Masters/ACSUsers/Index.js"></script>
