@using TOAST.Data.Model;
@using TOAST.Shared;
@model List<TOAST.Data.Model.tblBatchController>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxgrid" class="jqx-tbl-container">
</div>	


<script src="~/Scripts/PageJS/Masters/WagonBCUs/Index.js"></script>
