@using TOAST.Data.Model;
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="grid-header" style="color:black">SAP TFMS Data</h3>
        <table id="tbl" class="table">
            <thead>
                <tr>
                    <th style="display:none;">Id</th>
                    <th>Time Stamp</th>
                    <th>Client</th>
                    <th>Plant Code</th>
                    <th>Stock Code</th>
                    <th>Tank Id</th>
                    <th>Level</th>
                    <th>Water Level</th>
                    <th>Density </th>
                    <th>Temperature</th>
                    <th>Material Temperature</th>
                    <th>Tank Mode</th>
                    <th>Certified Flag</th>
                    <th>Base Sediment</th>
                    <th> Command</th>

                    
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/SAPTFMSData/Index.js"></script>
