@{
    ViewBag.Title = "Add TankStatus";
    Layout = null;
}

<h2 class="headingPage">
    Create a new TankStatus Master
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>STATUS</label>
                        <input id="txtStatus" name="Status" type="text" placeholder="Status" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>SHORT NAME</label>
                        <input id="txtShortName" name="shortName" type="text" placeholder="Short Name" class="form-control">
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="SaveTankStatus();"><span class="glyphicon glyphicon-floppy-disk"></span>SAVE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>          
    </div>
</div>

<script src="~/Scripts/PageJS/Masters/TankStatus/TankStatus.js"></script>