@using TOAST.Data.Model;
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxGateRegGrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/AlarmsAndEvents/GateRegister/GateRegister.js"></script>
