@using TOAST.Data.Model;
@using TOAST.Business;
@model List<TOAST.Data.Model.tblLogActivity>
@{
    Layout = null;
}
<style>
    .jqx-tbl-alert-icon .alert_true {
    /*height: 25px;
    width: 33px;*/
}
</style>

<div id="jqxTagEventGrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/AlarmsAndEvents/Alarms/TagEvents.js"></script>