@using TOAST.Data.Model;
@model List<tblTagMaster>
@{
    ViewBag.Title = "Plant View - Index View";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="grid-header" style="color:black">TAS Index</h3>

    </div>
</div>

<div class="row">
    <div class="col-lg-7 tas-container">
        <div class="col-lg-12 text-center tas-heading"><span>Index</span></div>
        <div class="col-lg-6">
            <div class="col-lg-12"> <a class="push-btn" href="#">BAY VIEW</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">GANTRY</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">PLC</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">TRENDS</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">LEGEND PAGE</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">TANK OVERVIEW</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">UPS DATA</a> </div>

        </div>
        <div class="col-lg-6">
            <div class="col-lg-12"> <a class="push-btn" href="#">TFMS</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">ESD CAUSE EFFECTS</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">MOV SUMMARY</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">TANK SUMMARY</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">WEIGH BRIDGE</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">TANKWISE STORAGE</a> </div>
            <div class="col-lg-12"> <a class="push-btn" href="#">MFM DATA</a> </div>
        </div>

    </div>
</div>