@{
    ViewBag.Title = "Index";
    Layout = null;
}
@*<form id="FormTankManualPost" class="form-fields" role="form">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>From Date</label>
                <input id="dtpFrom" name="FromDate" type="text" placeholder="From Date" class="form-control">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="display:none;">
            <div class="fields form-group">
                <label>To Date</label>
                <input id="dtpTo" name="ToDate" type="text" placeholder="To Date" class="form-control">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="fields form-group">
                <label>Data Posted</label>
                <select class="form-control" id="ddlPosted" name="Posted" disabled>
                    <option value="ALL" disabled>ALL</option>
                    <option value="POSTED" disabled>POSTED</option>
                    <option value="NOTPOSTED" selected>NOT POSTED</option>
                </select>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 text-right">
            <a id="viewButton" role="button" class="btn btn-primary" href="#" onclick="ViewTankManualEntry()"><span class="glyphicon glyphicon-print"></span>VIEW ARCHIVED DATA</a>
        </div>
    </div>
</form>*@
<div id="jqxgrid" class="jqx-tbl-container  jde-wrapper">
</div>
<script src="~/Scripts/PageJS/TFMS/TankManualEntry/Index.js"></script>