@using TOAST.Data.Model;
@model TOAST.Data.Model.tblCardPrivilegeMaster
@{
    ViewBag.Title = "Edit CardPrivilegeMaster";
    Layout = null;
}

<h2 class="headingPage">
    Edit CardPrivilegeMaster
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <input id="hdnIdKey" type="hidden" value="@Model.PrivilegeID">
                    <div class="fields form-group">
                        <label>PRIVILEGE</label>
                        <input id="txtCardPrivilage" name="CardPrivilage" type="text" placeholder="Card Privilege" class="form-control" value="@Model.PrivilegeDesc">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="UpdateCardPrivilegeMaster();"><span class="glyphicon glyphicon-floppy-saved"></span>UPDATE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/CardPrivilegeMaster/CardPrivilegeMaster.js"></script>
