@{
    ViewBag.Title = "Add Truck Type Master";
    Layout = null;
}

<h2 class="headingPage">
    Create a new Truck Type Master
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fields form-group">
                        <label>TRUCK TYPE</label>
                        <input id="txtTruckType" name="TruckType" type="text" placeholder="Truck Type" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="SaveTruckTypeMaster();"><span class="glyphicon glyphicon-floppy-disk"></span>SAVE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>          
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/TruckTypeMaster/TruckTypeMaster.js"></script>
