@using TOAST.Data.Model;
@using TOAST.Business;
@model List<TOAST.Data.Model.tblSystemFault>
@{
    Layout = null;
}


<div id="jqxSystemFaultsGrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/AlarmsAndEvents/SystemFaults/Index.js"></script>