@using TOAST.Data.Model;
@model TOAST.Data.Model.tblSMSReceiver
@{
    ViewBag.Title = "Edit Receiver";
    Layout = null;
}

<h2 class="headingPage">
    Edit Receiver
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="frmReceiver" role="form" class="form-fields">
            <div class="col-lg-4 col-md-6 col-sm-6" style="display:none;">
                <input id="hdnIdKey" type="hidden" value="@Model.UniqueID">
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 ">
                    <div class="fields form-group">
                        <label>Receiver Name</label>
                        <input type="text" class="form-control" placeholder="ReceiverName" id="txtReceiverName" name="ReceiverName" value="@Model.Name" />
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 ">
                    <div class="fields form-group">
                        <label>Mobile Number</label>
                        <input type="text" class="form-control" placeholder="MobileNo (10 digit)" id="txtMobileNo" name="MobileNo" value="@Model.MobileNo" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 checkbox-field">
                    <div class="input-group">
                        <span class="input-group-addon">
                            @if (Model.Enabled == true)
                            {
                                <input id="chkIsEnabled" name="IsEnabled" type="checkbox" class="form-control" checked>
                            }
                            else
                            {
                                <input id="chkIsEnabled" name="IsEnabled" type="checkbox" class="form-control">
                            }
                        </span>
                        <input type="text" class="form-control" value="Enabled" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="UpdateReceiver();"><span class="glyphicon glyphicon-floppy-saved"></span>UPDATE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/SMSReceiver/Receiver.js"></script>