@using TOAST.Data.Model;
@model List<TOAST.Data.Model.HOST_TFMS>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    .jqx-tbl-container .jqx-grid-content .jqx-grid-cell-pinned {
        background-color: #e5e5e5;
    }
</style>
<div id="jqxgrid" class="jqx-tbl-container  jde-wrapper">
</div>

<script src="~/Scripts/PageJS/TFMS/TFMSHost/Index.js"></script>

