@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblCard>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxMFMBatchGrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/Transactions/MFMBatch/Index.js"></script>
