<div id="jqxgrid" class="jqx-tbl-container">
</div>
<div style='margin-top: 20px; display:none'>
    <div style='float: left;'>
        <input type="button" value="Export to Excel" id='excelExport' />
        <br /><br />
        <input type="button" value="Export to XML" id='xmlExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to CSV" id='csvExport' />
        <br /><br />
        <input type="button" value="Export to TSV" id='tsvExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to HTML" id='htmlExport' />
        <br /><br />
        <input type="button" value="Export to JSON" id='jsonExport' />
    </div>
    <div style='margin-left: 10px; float: left;'>
        <input type="button" value="Export to PDF" id='pdfExport' />
    </div>
</div>

<style>
    /*#filterjqxgrid{
        visibility:hidden !important;
        height:0 !important;
        display:none !important;
    }
    #contentjqxgrid{
        top:36px !important;
    }*/
    #toolbarjqxgrid {
        visibility: visible !important;
        height: 36px !important;
        width: 100%;
        z-index: 9;
    }
</style>
<script src="~/Scripts/JQXGrid/jqxgrid.grouping.min.js"></script>
<script src="~/Scripts/PageJS/Masters/TruckMasters/Index.js"></script>
