@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblCustomer>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxgrid" class="jqx-tbl-container">
</div>
<script src="~/Scripts/PageJS/Masters/Customer/Index.js"></script>
