@using TOAST.Data.Model;
@model TOAST.Data.Model.tblVDUParameter
@{
    ViewBag.Title = "Edit VDUParameter";
    Layout = null;
}

<h2 class="headingPage">
    Edit VDU Parameter
</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 form-container">
        <form id="FormBU" role="form" class="form-fields">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 ">
                    <div class="fields form-group">
                        <label>Parameter Id</label>
                        <input type="text" class="form-control" placeholder="Parameter Number" id="txtParameterId" value="@Model.ParameterId" name="ParameterId" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="fields form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Parameter Description" id="txtParameterDesc" value="@Model.ParameterDesc" name="ParameterDesc" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="fields form-group">
                        <label>Value</label>
                        <input type="text" class="form-control" placeholder="Value" id="txtParameterValue" value="@Model.ParameterValue" name="ParameterValue" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row button-bar">
    <div class="col-lg-12">
        <a id="saveButton" role="button" class="btn btn-primary" href="#" onclick="UpdateVDUParameter();"><span class="glyphicon glyphicon-floppy-saved"></span>UPDATE</a>
        <a id="cancelButton" role="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#cancelModal"><span class="glyphicon glyphicon-remove"></span>CANCEL</a>
    </div>
</div>
<script src="~/Scripts/PageJS/Masters/VDUParameter/VDUParameter.js"></script>