@using TOAST.Data.Model;
@using TOAST.Data.ViewModels;
@using System.Linq;

@model List<TOAST.Data.Model.tblBaseDensityTemp>


<div id="jqxgrid" class="jqx-tbl-container">
</div>	

<script src="~/Scripts/PageJS/Transactions/BaseslineDensTemp/Index.js"></script>


