@using TOAST.Data.Model;
@model List<TOAST.Data.Model.tblTank>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="jqxgrid" class="jqx-tbl-container">
</div>

<script src="~/Scripts/PageJS/Masters/Tanks/0413/Index.js"></script>